@using TrueMatch.Models.Data
@model List<Account>

<!-- ==========Page Header Section Start Here========== -->
<section class="page-header-section style-1" style="background:url(~/assets/images/page-header.jpg)">
    <div class="container">
        <div class="page-header-content">
            <div class="page-header-inner">
                <div class="page-title">
                    <h2>TrueMatch Find Your Dating Partner</h2>
                </div>
                <ol class="breadcrumb">
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="active">Members</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- ==========Page Header Section Ends Here========== -->
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info text-center">@ViewBag.Message</div>
}
@if(Model !=null && Model.Any())
{
    <section class="member-page-section">
        <div class="container">
            <div class="member-wrapper">
                <div class="row g-3 row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center">
                    @foreach(var partner in Model)
                    {
                        <div class="col">
                            <div class="lab-item member-item style-1 style-2">
                                <div class="lab-inner">
                                    <div class="lab-thumb">
                                        @* <img src="~/assets/images/member/01.jpg" alt="member-img"> *@
                                        <img src="@partner.ProfileImageUrl" />
                                        
                                    </div>
                                    <div class="lab-content">
                                        <h6><a href="profile.html">@partner.FirstName @partner.LastName</a> </h6>
                                        <a class="btn btn-secondary" asp-action="FindPartnerProfile" asp-controller="UserProfile" asp-route-email="@partner.Email">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                   
                </div>
            </div>
        </div>
    </section>
}